*{
  font-family: Arial, Helvetica, sans-serif;
}

.flex-grow{
  flex-grow: 1;
}

.display-flex{
  display: flex;
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.style-none{
  list-style-type: none;
}
